.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 12vh;
  height: 100vh;
  width: 100%;
}

.content-section img {
  width: 300px;
  margin: 40px;
}

.content-section p {
  margin: 40px;
}
